# Ignore Python compiled files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
env/
venv/
.venv/

# Ignore Jupyter Notebook metadata
*.nbconvert.ipynb

# Ignore log files
*.log

# Ignore temporary or backup files
*.tmp
*.bak
*.swp
*.swo
*.~*

# Ignore system files
.DS_Store
Thumbs.db
